services:
  postgres:
    ports:
      - "5433:5432"
  redis:
    ports:
      - "6379:6379"
  kafka:
    ports:
      - "9092:9092"
  qdrant:
    ports:
      - "6333:6333"
  clickhouse:
    ports:
      - "8123:8123"
      - "9000:9000"
